<div class="bg-dark ">
  <div class="d-flex justify-content-around">
    <div class="h4 text-white pl-4 pt-4">Get connected with us on social networks!</div>
    <div class="h4 text-white pl-4 pt-4">
      <div class="d-flex align-items-center">
        <div class="pr-3"><i class="fa fa-facebook-f fontSize"></i></div>
        <div class="pr-3"><i class="fa fa-instagram fontSize"></i></div>
        <div class="pr-3"> <i class="fa fa-pinterest fontSize"></i></div>
        <div class="pr-3"> <i class="fa fa-twitter fontSize"></i></div>
        <div class="pr-3"><i class="fa fa-linkedin fontSize"></i></div>
      </div>
    </div>
  </div>
  <hr class="bg-white">
  <div class="container">

    <table class="table table-borderless small">
      <thead>
      <tr class="text-white w-50 ">
        <th class="helo" >ABOUT US</th>
        <th >CONTACTS</th>
        <th>LINKS</th>
        <th>CONTACT US</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-white">
        <td>100% Free blogging!</td>
        <td>john@example.com</td>
        <td>Shipping Rates</td>
        <td> <i class="material-icons">
          location_city
        </i> &nbsp;New York, NY 10012, US</td>
      </tr>

      <tr class="text-white">
        <td>Different Categories</td>
        <td>Your Account</td>
        <td>Become an Affiliate</td>
        <td><i class="material-icons">
          mail_outline
        </i> &nbsp;info@example.com</td>
      </tr>
      <tr class="text-white">
        <td>Amazing Fonts</td>
        <td>Your Account</td>
        <td>Your Account</td>
        <td><i class="material-icons">
          phone
        </i> &nbsp;+ 01 234 567 88</td>
      </tr>
      <tr class="text-white">
        <td>Popular posts</td>
        <td>Your Account</td>
        <td>Need Help?</td>
        <td><i class="material-icons">
          phone
        </i> &nbsp;+ 01 234 567 89</td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="text-muted text-center pb-3">© 2019 www.myntra.com. All rights reserved.</div>
</div>


