<app-navbar></app-navbar>
<div>

  <div class="pos">
    <div class="card bgf my-color">
      <div class="d-flex justify-content-center ">
        <div class="p-3 pl-5 pr-5">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="text-center">
            <h2 class=" text-center mb-4 mt-4 cm">Login here</h2>
            <div *ngIf="invalidLogin">
              <h5 class="text-danger">Invalid Credentials</h5>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
              <span class="input-group-text"
              > <i class="material-icons">person</i></span>
                </div>
                <input type="email" formControlName="email" class="form-control " placeholder="Email"
                       [(ngModel)]="email"
                       [ngClass]="{'is-invalid':submitted && f.email.errors}"/>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Enter a valid email</div>
                </div>
              </div>
            </div>


            <div class="form-group">
              <div class="input-group pt-2">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="material-icons">vpn_key</i></span>
                </div>
                <input [type]="showPassword" formControlName="password" class="form-control" placeholder="Password"
                       [(ngModel)]="password"
                       [ngClass]="{'is-invalid':submitted && f.password.errors}"/>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minLength">Password should be min 6 letters</div>
                </div>
              </div>
            </div>


            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck" name="example1"
                     (click)="showPass()"/>
              <label class="custom-control-label" for="customCheck"
              >Show Password:</label>
            </div>
<!--        </div>-->

        <button
          type="submit"
          class="btn btn-outline-dark form-control mt-2">Login
        </button>

        </form>
      </div>
    </div>
    <div class="text-center container mt-2 text-decoration-none">
      <h6>Don't have an account?
        <a routerLink="/signup" class="t8ext-dark">Sign Up</a> here!</h6>
    </div>
  </div>
</div>
<div class="my-pos">
  <img src="https://cdn-images-1.medium.com/fit/c/1400/1120/1*vkb5Uy8MTbBZbtBc4aZwMA.jpeg">
</div>
</div>
<!--</div>-->
<!--https://cdn-images-1.medium.com/fit/c/1400/1120/1*vkb5Uy8MTbBZbtBc4aZwMA.jpeg-->
