.cm {
  font-family: medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

.form-control {
  width: 18rem;
}

.btn {
  width: 19rem;
}

.bg1 {
  height: 30%;
  width: 70%;
}

.my-pos {
    background-size: cover;

  position: absolute;
  left: 43%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.my-pos img {
  height: 100%;
  width: 100%;
}

.pos {
  position: absolute;
  left: 15%;
  top: 10rem;
}

.bgf {
  z-index: 1;
  background-color: #E8F3EC;

  height: 400px;
  width: 520px;
}

.card {
  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
