<app-navbar></app-navbar>

<div class="cm text-center fontSize3 pt-2">
  Get smarter about what
</div>
<div class="cm text-center fontSize3 ">
  matters to you.
</div>

<div class="d-flex justify-content-center pt-4 mb-3">
  <img class="zz" src="https://cdn-images-1.Medium.com/max/726/1*vZ8miTqyE3eUnBqQjvLJeA.png">
</div>

<div class="text-center fontSize pt-5"><b>Welcome to Scribble, where words matter.</b></div>
<div class="text-muted text-center fontSize2 pt-3">Create an account to receive great stories</div>
<div class="text-muted text-center fontSize2">
  get personalized posts recommendations,your inbox, personalize your homepage,
</div>
<div class="text-muted text-center fontSize2 pb-5">
  ,follow
  authors and topics that you love and interact.
</div>




<hr style="height:1px;border:none;color:#9e9e9e;background-color:#9e9e9e;" width="37%">

<div class="d-flex justify-content-center mt-4">
  <div class="col-8">
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-center align-items-center">
        <div class="fontSize">
          <i class="fa fa-check-circle my-color mr-2 "></i>
        </div>
        <div>World-class publications.</div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="fontSize">
          <i class="fa fa-check-circle my-color mr-2 "></i>
        </div>
        <div>Undiscovered voices.</div>
      </div>
      <div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="fontSize">
            <i class="fa fa-check-circle my-color mr-2 "></i>
          </div>
          <div>Topics you love.</div>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="fontSize">
            <i class="fa fa-check-circle my-color mr-2"></i>
          </div>
          <div>Free prices always</div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="d-flex justify-content-center pt-5">
  <div class="col-sm-4">
    <div class="d-flex justify-content-center ">
      <div class="cm cn cs fontSize1">120 million curious readers and growing every day.</div>

    </div>
  </div>
  <div class="col-sm-5 color1">
    <div class="pb-5">
      <i class="fa fa-quote-left fontSize1 my-color"></i>
    </div>
    <div id="demo" class="carousel slide " data-ride="carousel ">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active bg-success"></li>
        <li data-target="#demo" class="active bg-success " data-slide-to="1"></li>
        <li data-target="#demo" class="active bg-success" data-slide-to="2"></li>
        <li data-target="#demo" class="active bg-success" data-slide-to="3"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <h3>Do yourself a favor and start browsing Scribble for high
            quality articles on just about ANY topic. Get those mental gears turning!</h3>
        </div>
        <div class="carousel-item ">
          <h3>
            Scribble is trying to shift the paradigm. They’re catering to those
            looking for fresh, new, authentic voices. I believe wholeheartedly in their mission.</h3>
        </div>
        <div class="carousel-item ">
          <h3>
            In a web full of pseudo thought-leaders, Scribble is the one place that
            I can reliably come to and be better informed in the easiest way possible of the things that matter to
            me.</h3>
        </div>
        <div class="carousel-item">
          <h3> Scribble is a great place to read and learn from a wide range of authors.
            It’s not muddied up by ads. It’s not fake news. It feels like one of the few pure places to go online.</h3>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="text-center fontSize3 mt-5">No ads. Hence <span style="text-decoration: line-through;">problems</span> :)</div>
<div class="fontSize2 text-muted text-center mb-5">Your privacy stays yours. We don’t sell your data or target you with ads.
  Ever.
</div>


<hr style="height:1px;border:none;color:#9e9e9e;background-color:#9e9e9e;" width="37%">


<div class="d-flex justify-content-center mb-5 mt-5">
  <div class="col-6 text-muted fontSize2">
    We do things differently.
    Scribble is not like any other platform on the internet.
    Our sole purpose is to help you find compelling
    <mark class="color1 text-muted"> ideas, knowledge,
      and perspectives. We don’t serve ads—we serve you, the curious reader
    </mark>
    who
    loves to learn new things.Scribble is home to thousands of independent
    voices, and we combine humans and technology to find the best reading for
    you—and filter out the rest.
    Get started
  </div>
</div>


<div class="d-flex justify-content-around pt-4">
  <div class="pr-5"><img src="https://cdn-images-1.Medium.com/max/1000/1*a9dZ9L0vZrDQDrM0dHlXqg.png"></div>
  <div class="fontSize1  cm cn pt-5">
    <div class="text-center">Expand your reading.</div>
    <div class="text-center">Expand your mind.</div>
    <div class="text-center fontSize3">SCRIBBLE.COM</div>
  </div>
</div>

<div class="container mt-5">
  <div class="text-center mb-3"><h1>Ideas and perspectives you won’t find anywhere else.</h1></div>
  <div class="text-center fontSize2 text-muted pb-5">Scribble taps into the brains of the world’s most insightful writers,
    thinkers, and storytellers to bring you the smartest takes on topics that matter.
    So whatever your interest, you can always find fresh thinking and unique perspectives.
  </div>
</div>



<app-footer></app-footer>
