
.category-style:hover {
  border-bottom: 2px solid #ca3e47;
}

//
//h2, h5, h4, h2 {
//  font-family: 'Sofia', cursive;
//  font-weight: normal;
//}

.my-cursor {
  cursor: pointer;
}

.fontSize {
  font-size: 30px;
}

.my-color {
  color: rgba(3, 168, 124, 1);
}

.color1 {
  background-color: rgba(12, 242, 143, 0.2);
}

.color2 {
  background-color: hsla(9, 100%, 64%, 0.5);
}

.cm {
  font-family: medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

.cs {
  font-size: 4rem;
}

.cn {
  font-weight: 500;
}

.ht {
  height: 497px;
  width: 500px;
}

.fontSize1 {
  font-size: 50px;
}
.fontSize3 {
  font-size: 70px;
}

.carousel-inner {
  height: 18rem;
}
