.zz{
  width: 65%;
  height: 67%;
}

//
//h2, h5, h4, h2 {
//  font-family: 'Sofia', cursive;
//  font-weight: normal;
//}

.my-cursor {
  cursor: pointer;
}

.fontSize {
  font-size: 30px;
}

.my-color {
  color: rgba(3, 168, 124, 1);
}

.color1 {
  background-color: rgba(12, 242, 143, 0.2);
}
.sizee{
  width: 10px;
  height: 10px;
}
.color2 {
  background-color: hsla(9, 100%, 64%, 0.5);
}

.cm {
  font-weight: 500;
  font-family: medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif;
}


.cn {
  font-weight: 500;
}

.ht {
  height: 497px;
  width: 500px;
}

.fontSize1 {
  font-size: 55px;
}
.fontSize3 {
  font-size: 80px;
}
.fontSize2 {
  font-size: 20px;
}
.carousel-inner {
  height: 18rem;
}
.hq{
  width: 20%;
  height: 40%;
}
.bga{
  background-color: rgba(3, 168, 124, 1);
}
